{
  "extends": ["airbnb", "prettier"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false
  },
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": ["prettier"],
  "settings": {
    "import/extensions": [".js", ".ts", ".tsx"],
    "import/resolver": {
      "node": { "extensions": [".js", ".ts", ".tsx"] }
    }
  },
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "import/extensions": ["error", "ignorePackages", { "js": "never", "ts": "never", "tsx": "never" }],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-return-assign": 0,
    "react/prefer-es6-class": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": 0,
    "react/require-default-props": 0,
    "jsx-a11y/img-has-alt": 0,
    "jsx-a11y/alt-text": 0,
    "react/sort-comp": 0,
    "react/no-unused-prop-types": 0,
    "react/prop-types": 0,
    "react/no-deprecated": 0,
    "react/destructuring-assignment": 0,
    "react/jsx-props-no-spreading": 0,
    "lines-between-class-members": 0,
    "prefer-destructuring": 0,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all",
        "printWidth": 80,
        "jsxBracketSameLine": true,
        "parser": "babel-flow"
      }
    ]
  }
}
