{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "jsxBracketSameLine": true,
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "parser": "babel-flow"
      }
    }
  ]
}
